USE [master]
GO
/****** Object:  Database [Tp06]    Script Date: 18/08/2025 15:53:09 ******/
CREATE DATABASE [Tp06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tp06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Tp06.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tp06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Tp06_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tp06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tp06]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 18/08/2025 15:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[id] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[idCreador] [int] NOT NULL,
	[terminado] [bit] NOT NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 18/08/2025 15:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Tarea]    Script Date: 18/08/2025 15:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Tarea](
	[idUsuario] [int] NOT NULL,
	[idTarea] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Tarea] ([id], [descripcion], [idCreador], [terminado]) VALUES (1, N'ejercicio 1', 1, 0)
INSERT [dbo].[Tarea] ([id], [descripcion], [idCreador], [terminado]) VALUES (2, N'ejercicio 2', 2, 1)
INSERT [dbo].[Usuario] ([id], [usuario], [contraseña]) VALUES (1, N'user1', N'contraseña1')
INSERT [dbo].[Usuario] ([id], [usuario], [contraseña]) VALUES (2, N'user2', N'contraseña2')
INSERT [dbo].[Usuario_Tarea] ([idUsuario], [idTarea]) VALUES (1, 1)
INSERT [dbo].[Usuario_Tarea] ([idUsuario], [idTarea]) VALUES (2, 2)
ALTER TABLE [dbo].[Usuario_Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Tarea_Tarea] FOREIGN KEY([idTarea])
REFERENCES [dbo].[Tarea] ([id])
GO
ALTER TABLE [dbo].[Usuario_Tarea] CHECK CONSTRAINT [FK_Usuario_Tarea_Tarea]
GO
ALTER TABLE [dbo].[Usuario_Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Tarea_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Usuario_Tarea] CHECK CONSTRAINT [FK_Usuario_Tarea_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuarios]    Script Date: 18/08/2025 15:53:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarUsuarios]
    @usuario VARCHAR(50),
    @contraseña VARCHAR(50),
    @id INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Usuario WHERE id = @id)
    BEGIN
        INSERT INTO Usuario (usuario, contraseña, id)
        VALUES (@usuario, @contraseña, @id);

        PRINT 'SE INSERTÓ CORRECTAMENTE';
    END
    ELSE
    BEGIN
        PRINT 'NO SE INSERTÓ';
    END
    RETURN @@ROWCOUNT;
END

GO
USE [master]
GO
